<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css?version=51" rel="stylesheet" type="text/css">
    <title>Chart for epidemic simulation</title>
</head>


<body>

<!-- <header>
    <h1>Epidemic Simulation</h1>
</header> -->

<div id="legend">
    <h2 class="left">Description:</h2>
    <ul class="left">
        <li>
            Application allows you to generate epidemic simulation, based on initial data:
            <ul>
                <li>Simulation name</li>
                <li>Population size</li>
                <li>Number of infected people - number of people who are infected at the beginning of simulation</li>
                <li>Number of people who will be infected by one person</li>
                <li>Mortality rate - describes how many of the infected people will die</li>
                <li>Days from infection to recovery</li>
                <li>Days from infection to death</li>
                <li>Number of simulation days</li>
            </ul>
            After calculations  you will get data for every simulation day, which contains:
            <ul>
                <li>Number of infected people</li>
                <li>Number of healthy people who can be infected</li>
                <li>Number of deaths</li>
                <li>Number of people who will be infected by one person</li>
                <li>Number of people who recovered</li>
            </ul>
        </li>
    </ul>
</div>

<div class="formDiv">
    <form method="POST" id="form">
        <h2>Please fill out the form</h2>
        <p class="bold">Simulation Name</p>
        <input class="border-customized-input rounded-input" id="simulationName" type="text" name="simulationName"/>

        <p class="bold">Population Size</p>
        <input class="border-customized-input rounded-input" type="number" min="1000" name="populationSize"/>

        <p class="bold">Initial Number of Infected People</p>
        <input class="border-customized-input rounded-input" type="number" min="1" name="initialNumberOfInfected"/>

        <p class="bold">Number of People Who Will Be Infected By One Person</p>
        <input class="border-customized-input rounded-input" type="number" step="0.01" name="numberOfPeopleWhoWillBeInfectedByOnePerson"/>

        <p class="bold">Mortality Rate</p>
        <input class="border-customized-input rounded-input" type="number" step="0.01" name="mortalityRate"/>

        <p class="bold">Days From Infection To Recovery</p>
        <input class="border-customized-input rounded-input" type="number" step="1" min="1" name="daysFromInfectionToRecovery"/>

        <p class="bold">Days From Infection To Death</p>
        <input class="border-customized-input rounded-input" type="number" step="1" min="1" name="daysFromInfectionToDeath"/>

        <p class="bold">Number of Simulation Days</p>
        <input class="border-customized-input rounded-input" type="number" step="1" min="1" name="numberOfSimulationDays"/>

        <div>
            <button id="btnSubmit" class="border-customized-input btn"><p>Generate Simulation</button>
        </div>
</form>
</div>
<footer>
</footer>
</body>

<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
<script src="js/index.js"></script>
</html>