<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css?version=51" rel="stylesheet" type="text/css">
    <title>Chart for epidemic simulation</title>
</head>


<body>

<div id="description">
    <h2 class="left">Description:</h2>
    <p class="left">Application allows you to generate epidemic simulation, based on initial data:</p>
    <ul class="left">
        <li>Simulation name</li>
        <li>Population size (<strong>P</strong>)</li>
        <li>Number of infected people - number of people who are infected at the beginning of simulation</li>
        <li>Number of people who will be infected by one person (<strong>R</strong>)</li>
        <li>Mortality rate - describes how many of the infected people will die (<strong>M</strong>)</li>
        <li>Days from infection to recovery (<strong>Ti</strong>)</li>
        <li>Days from infection to death (<strong>Tm</strong>)</li>
        <li>Number of simulation days (<strong>Ts</strong>)</li>
    </ul>
    <p class="left">After calculations  you will get data for every simulation day, which contains:</p>
    <ul class="left">
        <li>Number of infected people (<strong>Pi</strong>)</li>
        <li>Number of healthy people who can be infected (<strong>Pv</strong>)</li>
        <li>Number of deaths (<strong>Pm</strong>)</li>
        <li>Number of people who will be infected by one person (<strong>Pr</strong>)</li>
        <li>Number of people who recovered</li>
    </ul>
    <h2 class="left">Main assumptions:</h2>
    <ul class="left">
        <li><strong>"M"</strong> infected people, who infected <strong>"Tm"</strong> days before, moves form infected people to death people</li>
        <li>All infected people <strong>"Ti"</strong> days before (and who is alive) moves from infected people to people who recovered</li>
        <li>Every infected person infects <strong>"R"</strong> healthy people who can be infected</li>
    </ul>
    <p>As a result for <strong>Ts</strong> simulation days you will get <strong>Ts</strong> simulations where
        <strong>Pi</strong> + <strong>Pv</strong> + <strong>Pm</strong> + <strong>Pr</strong> = <strong>P</strong>
    </p>
</div>

<div class="formDiv">
    <form method="POST" id="form">
        <h2>Please fill out the form</h2>
        <p class="bold">Simulation Name</p>
        <input class="border-customized-input rounded-input" id="simulationName" type="text" name="simulationName"/>

        <p class="bold">Population Size</p>
        <input class="border-customized-input rounded-input" type="number" min="1000" name="populationSize"/>

        <p class="bold">Initial Number of Infected People</p>
        <input class="border-customized-input rounded-input" type="number" min="1" name="initialNumberOfInfected"/>

        <p class="bold">Number of People Who Will Be Infected By One Person</p>
        <input class="border-customized-input rounded-input" type="number" step="0.01" name="numberOfPeopleWhoWillBeInfectedByOnePerson"/>

        <p class="bold">Mortality Rate</p>
        <input class="border-customized-input rounded-input" type="number" step="0.01" name="mortalityRate"/>

        <p class="bold">Days From Infection To Recovery</p>
        <input class="border-customized-input rounded-input" type="number" step="1" min="1" name="daysFromInfectionToRecovery"/>

        <p class="bold">Days From Infection To Death</p>
        <input class="border-customized-input rounded-input" type="number" step="1" min="1" name="daysFromInfectionToDeath"/>

        <p class="bold">Number of Simulation Days</p>
        <input class="border-customized-input rounded-input" type="number" step="1" min="1" name="numberOfSimulationDays"/>

        <div>
            <button id="btnSubmit" class="border-customized-input btn"><p>Generate Simulation</button>
        </div>
</form>
</div>
<footer>
</footer>
</body>

<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
<script src="js/index.js"></script>
</html>